name: build and push image (Debian version)

on:
  push:
    branches:
      - "master"
    paths:
      - Dockerfile.debian
      - .github/workflows/docker-build-debian.yml
      - renew*.py
      - requirements.txt

env:
  IMAGE_NAME: "simaofsilva/noip-renewer"
  PIP_VERSION: "22.3.1" # renovate: datasource=pypi depName=pip versioning=pep440

jobs:
  build_debian:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2.1.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.4.0

      - name: Checkout
        uses: actions/checkout@v3.3.0

      - name: Get commit short hash
        id: short_sha
        run: echo "::set-output name=shortsha::$(git rev-parse --short HEAD)"

      - name: Build image for tests
        uses: docker/build-push-action@v3.3.1
        with:
          context: .
          platforms: linux/amd64
          load: true
          tags: ${{ env.IMAGE_NAME }}:test-debian
          file: Dockerfile.debian
          build-args: |
            PIP_VERSION=${{ env.PIP_VERSION }}

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.IMAGE_NAME }}:test-debian
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'MEDIUM,CRITICAL,HIGH'

      - name: Login to DockerHub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build for ARM v7 (caching)
        uses: docker/build-push-action@v3.3.1
        with:
          context: .
          platforms: linux/arm/v7
          load: true
          tags: ${{ env.IMAGE_NAME }}:${{ steps.short_sha.outputs.shortsha }}-armv7
          file: Dockerfile.debian
          build-args: |
            PIP_VERSION=${{ env.PIP_VERSION }}

      - name: Build and push all for Docker Hub
        uses: docker/build-push-action@v3.3.1
        with:
          context: .
          platforms: linux/arm/v7,linux/amd64,linux/arm64/v8
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ steps.short_sha.outputs.shortsha }}-debian
            ${{ env.IMAGE_NAME }}:debian
          file: Dockerfile.debian
          build-args: |
            PIP_VERSION=${{ env.PIP_VERSION }}

#  delete_old_runs:
#    runs-on: ubuntu-latest
#    steps:
#      - name: Delete workflow runs
#        uses: Mattraks/delete-workflow-runs@v2.0.3
#        with:
#          token: ${{ github.token }}
#          repository: ${{ github.repository }}
#          retain_days: 15
#          keep_minimum_runs: 5
